daily-tales-authentication/** linguist-documentation=false
daily-tales-authentication/** linguist-vendored=false
daily-tales-bootstrap/** linguist-documentation=false
daily-tales-bootstrap/** linguist-vendored=false
daily-tales-common/** linguist-documentation=false
daily-tales-common/** linguist-vendored=false
daily-tales-core/** linguist-documentation=false
daily-tales-core/** linguist-vendored=false
daily-tales-documentation/** linguist-documentation=false
daily-tales-documentation/** linguist-vendored=false
daily-tales-user/** linguist-documentation=false
daily-tales-user/** linguist-vendored=false
daily-tales-writing/** linguist-documentation=false
daily-tales-writing/** linguist-vendored=false
